<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Foslipy</title>
 
     <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></strong>
 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
 
    <link href="../static/signup.css" rel="stylesheet">
</head>
    <body>
<header>
      <div class="container">

        <strong><nav>
           <ul class="menu">
	     <li><a href="{{ url_for('home') }}">Home</a></li>
	     <li><a href="{{ url_for('showSignIn') }}">Sign In</a></li>
         <li><a href="{{ url_for('showSignUp') }}">Sign Up</a></li>
	       </ul>
</nav></strong>
      </div>
    </header> 
 

   {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
        <li<{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
   {% endwith %}
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    

                </ul>
            </nav>
            
        </div>
 
        <div class="jumbotron">
            <h1>Foslipy</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
